{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="{% static '/img/website.jpg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Here are the products you are looking for:</title>
    <style>
        body{
            background-color: #cccc;
        }
        table{
            background-color: lightgreen;
            transition-property: background-color;
            transition-duration: 1s;
        }
        table:hover{
            background-color: bisque;
        }
    </style>
</head>
<body>
    <table>{{geek|safe}}</table>
</body>
</html>